---
import BaseLayout from "@/src/layouts/BaseLayout.astro";
import { useI18n } from "@ariaskit/astro-i18n";
import SchemaLang from "@/src/i18n/en.json";
import PlaceHolderImage from "@/src/assets/background.svg";
import type {
  GetStaticPaths,
  InferGetStaticParamsType,
} from "astro";
import Header from "@/src/components/header/Header.astro";
import { getCollection } from "astro:content";
import { slugify } from "@/src/lib/utils";
import { getCollectionEntries } from "@ariaskit/astro-collections";
import type { collections } from "@/src/content/config";


export const getStaticPaths = (async () => {
  const allPosts = await getCollectionEntries<typeof collections>("blog", {
    sortByFn: (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime(),
  });

  const paths = allPosts.map((post) => ({
    params: {
      lang: post.data.lang,
      category: slugify(post.data.category),
    },
    props: {
      lang: post.data.lang,
      categoryName: post.data.category,
      categoryDescription: post.data.categoryDescription,
    },
  }));

  // Forzamos el tipo al final para que satisfaga GetStaticPaths
  const uniquePaths = Array.from(
    new Map(
      paths.map((p) => [`${p.params.lang}-${p.params.category}`, p]),
    ).values(),
  ) as { params: { lang: string; category: string }; props: any }[];

  return uniquePaths;
}) satisfies GetStaticPaths;

type Params = InferGetStaticParamsType<typeof getStaticPaths>;


const { lang } = Astro.params as Params;


const { t } = useI18n<typeof SchemaLang>(Astro);

const allPostsInLang = await getCollection(
  "blog",
  (entry) => entry.data.lang === lang,
);

const categories = [
  ...new Map(
    allPostsInLang.map((entry) => [
      entry.data.category,
      {
        title: entry.data.category,
        description: entry.data.categoryDescription,
        href: `/${lang}/blog/${slugify(entry.data.category)}`,
      },
    ]),
  ).values(),
];


const links = [
  {
    title: t("home.header.menu.home.text"),
    href: t("home.header.menu.home.href"),
  },
  {
    title: t("home.header.menu.about.text"),
    href: `/${lang}${t("home.header.menu.about.href")}`,
  },
  {
    title: t("home.header.menu.latest.text"),
    href: `/${lang}${t("home.header.menu.latest.href")}`,
  },
];

interface Props {
  title: string;
  description: string;
  alternateLinks?: { href: string; hreflang: string }[];
}

const { title, description, alternateLinks} = Astro.props as Props;

---

<BaseLayout
  title={title}
  description={description}
  image={PlaceHolderImage}
  lang={lang}
  alternateLinks={alternateLinks}
 
>
  <Header title="Vortex" categories={categories} links={links} />

  <main class="w-full px-4 my-16 flex justify-center">
    <div class="w-full max-w-5xl">
      <slot />
    </div>
  </main>
</BaseLayout>